* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  border: none;
  overflow: hidden;
}

.canvas1 {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  filter: blur(30px) contrast(60);
}
